.row.d-flex.m-2
  .col-12
    .card.shadow.mx-auto.m-5
      .card-header.bg-primary.text-white
        | Analytics
        span.float-right
          = link_to 'Go to Live Streams', root_path, class: 'btn btn-primary'
      .card-body.h-100
        .row
          .col-12
            .card.h-75.mb-2
              .card-header WordCloud for 'Byjus'
              .card-body
                #wordcloud_container
        .row
          .col-12
            .card.h-75
              .card-header Sentimental Scores for 'Byjus'
              .card-body
                #sent_score_container
