<%- @client.filter(track: @topic) do |object| %>
  <%- ActionCable.server.broadcast('analytics_by_hash_incoming_channel', message_id: object.text, sentimental_score: $analyser.score(object.text)) if object.is_a?(Twitter::Tweet); %>
<%- end %>