.row.d-flex.mx-2
  .col-12
    .card.shadow.mx-auto.m-5
      .card-header.bg-primary.text-white
        | Live Stream
        span.float-right
          = link_to 'Go to Analytics', dashboard_analytics_path, class: 'btn btn-primary'
      .card-body.h-100
        .row
          .col-6
            form.form-inline#form_by_hashtag data-remote='true'
              .form-row
                .form-group
                  = text_field_tag :hashtag, nil, placeholder: 'HashTag', class: 'form-control', id: 'hashtag_input'
                  = button_tag :submit, class: 'btn btn-primary ml-2'
            .tweets_container.overflow-auto#by_hashtag
          .col-6
            form.form-inline#form_by_user data-remote='true'
              .form-row
                .form-group
                  = text_field_tag :username, nil, placeholder: 'User name', class: 'form-control', id: 'user_input'
                  = button_tag :submit, class: 'btn btn-primary ml-2'
            .tweets_container.overflow-auto#by_user