/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7 ] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8 ] <html class="no-js lt-ie9" lang="en">
/[if (gt IE 8)|!(IE)] <! --> <html class="no-js" lang="en"> <!--
head
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=edge"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  title = content_for?(:title) ? yield(:title) : 'Twitter Streamer'

  = javascript_include_tag 'application'
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag "page_specific/#{controller_name}"
  = javascript_include_tag "page_specific/#{controller_name}"
  = csrf_meta_tags

body#page-top class==("controller__#{controller_name} action__#{action_name}")

  = yield